$module-name: 'header';

.#{$module-name} {
	color: $dark;
	height: 40px;
	border-bottom: 1px solid $gray;
	background: $white;
	position: fixed;
	top: 0;
	width: 100%;
	&-container {
		max-width: $width-large;
		margin: auto;
		padding: 0 10px;
		display: flex;
	}
	&__logo {
		width: 50%;
		//letter-spacing: 3px;
		letter-spacing: 1px;
		padding-top: 10px;
		text-transform: uppercase;
		font-weight: 700;
		&--light {
			font-weight: 400;
		}
	}
}