$module-name: 'nav';

.#{$module-name} {
	text-align: right;
	width: 50%;
	padding-top: 10px;
	text-transform: lowercase;
	font-size: 10pt;
	&-container {
		margin: 0;
		padding: 0;
	}
	ol,ul {
		list-style: none;
	}
	&__item {
		display: inline;
		padding: 8px 2%;
		color: $black;
		&--active {
			border-bottom: solid 5px $highlight;//#e15915;
		}
	}
}