/* From the great Paul Irish http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', serif;
}

.header {
  color: #0B3C49;
  height: 40px;
  border-bottom: 1px solid #CBD2D0;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
}
.header-container {
  max-width: 1020px;
  margin: auto;
  padding: 0 10px;
  display: flex;
}
.header__logo {
  width: 50%;
  letter-spacing: 1px;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.header__logo--light {
  font-weight: 400;
}

.nav {
  text-align: right;
  width: 50%;
  padding-top: 10px;
  text-transform: lowercase;
  font-size: 10pt;
}
.nav-container {
  margin: 0;
  padding: 0;
}
.nav ol, .nav ul {
  list-style: none;
}
.nav__item {
  display: inline;
  padding: 8px 2%;
  color: #000000;
}
.nav__item--active {
  border-bottom: solid 5px #F0E100;
}

.content {
  background: #FFFDFD;
  background-size: cover;
}
.content-container {
  max-width: 1020px;
  margin: auto;
  padding: 20px 10px;
}
.content h1, .content h2, .content h3 {
  color: #731963;
}

.portfolio {
  background: #FFFDFD;
  background-size: cover;
}
.portfolio-container {
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.portfolio__web, .portfolio__photography {
  height: 50%;
}
.portfolio__web {
  background: #731963;
}
.portfolio__photography {
  background: #F0E100;
}
.portfolio h1, .portfolio h2, .portfolio h3 {
  color: #731963;
}
