/* From the great Paul Irish http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', serif;
}

a {
	&:link {
		color: $accent;
		text-decoration: none;
	}
	&:visited {

	}
	&:hover {
		color: $dark;
		text-decoration: underline;
	}
	&:active {

	}
}